html,
body {
    margin: 0;
    padding: 0;
    width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: white;
}

a {
    text-decoration: none;
}

.site-navigation,
.features-list,
.properties-list,
.checkbox-family-1,
.checkbox-family-2,
.sorting,
.catalog-list,
.footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a,
.footer-social a,
.catalog-list a {
    color: #000000;
}

.main-navigation a {
    line-height: 26px;
    font-weight: 700;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:focus {
    color: #cacaca;
}

.main-navigation a:active {
    color: #766357;
}

.sorting a {
    color: #cacaca;
    text-decoration: underline #81b3d2 dotted;
}
.sorting a:hover {
    color: #81b3d2;
    text-decoration: underline #81b3d2 dotted;
}

.sorting a:focus {
    color: #000000;
}

.sorting a:active {
    color: #81b3d2;
}

.main-background {
    width: 1200px;
    height: 700px;
    background-color: #ffffff;
    background-image: url("../img/bg-intro-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -55px;
    margin-bottom: -246px;
    margin-top: -10px;
}

.bg-text-container {
    padding-top: 100px;
    text-align: center;
}

.bg-mask-container {
    width: 1200px;
    height: 40px;
    padding-top: 25px;
    background-image: url("../img/bg-intro-mask.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.five-features {
    width: 1200px;
    height: 210px;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}

.five-features p:first-child {
    font-size: 21px;
    font-weight: 700;
    text-height: 26px;
    text-align: center;
}

.five-features p:last-child {
    color: #333333;
    text-height: 26px;
    text-align: center;
}

.first-feature,
.second-feature {
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
}

.preview-1 {
    width: 800px;
    height: 256px;
    background-image: url("../img/preview-photo1.jpg");
    background-size: auto;
}

.preview-2 {
    width: 800px;
    height: 256px;
    background-image: url("../img/preview-photo2.jpg");
    background-size: auto;

}


.first-feature h3,
.second-feature h3 {
    font-size: 21px;
    text-height: 21px;
    font-weight: 700px;
}

.another-feature {
    width: 400px;
    height: 256px;
    background-color: #eeeeee;
    text-align: center;
}

.properties {
    text-align: center;
}

.properties h3,
.another-feature h3 {
    font-size: 21px;
    font-weight: 700;
    text-height: 21px;
    color: #000000;
}

.properties-item-image {
    width: 75px;
    height: 75px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 1px solid black;
}

.firstly {
    background-position: 1px 0px;
}

.secondly {
    background-position: -72px 0px;
}

.thirdly {
    background-position: -147px 0px;
}

.appointment h2 {
    font-size: 30px;
    text-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.appointment-container {
    width: 570px;
    height: 400px;
    display: flex;
    box-shadow: 0 0 10px 0 #333333;
}

.apointment p.apointment-content {
    text-height: 24px;
    text-align: center;
}

.appointment button {
    width: 570px;
    height: 85px;
    font-size: 21px;
    font-weight: 700;
    text-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #766357;
    color: #ffffff;
}

.appointment button:hover {
    background-color: #604e43;
}

.appointment button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.appointment-form {
    text-height: 26px;
    font-weight: 700;
    color: #000000;
}

.appointment input[type="date"] {
    font: inherit;
    background-color: #f2f2f2;
    outline: none;
}

.appointment input[type="date"]:hover {
    background-color: #ebebeb;
}

.appointment input[type="date"]:focus {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.appointment input[type="button"] {
    background-color: #ffffff;
    color: #a9a9a9;
}

.appointment input[type="button"]:hover {
    color: #000000;
}

.appointment input[type="button"]:focus {
    color: #81b3d2;
}

.appointment input[type="submit"] {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-height: 26px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    outline: none;
}

.appointment input[type="submit"]:hover {
    background-color: #669ec0;
}

.appointment input[type="submit"]:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.main-footer b {
    text-height: 26px;
}

.main-footer p.hashtag {
    font-size: 21px;
    font-weight: 700;
    text-height: 26px;
}

.footer-social {
    text-align: center;
}

/* стили для sedona-hotels.html */

.background-image-filters {
    background-color: #333333;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
}

.filters legend {
    font-size: 16px;
    text-height: 21px;
    font-weight: 700px;
    color: #FFFFFF;
}

.filters li {
    text-height: 21px;
    color: #FFFFFF;
}

.filter-option input[type="checkbox"],
.filter-option input[type="checkbox"]:hover {

}

.filter-option input[type="checkbox"]:focus {

}

.filters button {
    width: 132px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 2px solid #ffffff;
}

.filters button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
}

.catalog p.search-result {
    font-size: 21px;
    font-weight: 700;
    text-height: 26px;
}

.catalog p.sorting-title,
.sort-parameter {
    font-size: 12px;
    text-height: 18px;
}

.description div.rating {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
}

.description a {
    color: #000000;
}

.description a:hover {
    color: #81b3d2;
}

.description a:focus {
    color: #cacaca;
}

a.button-info {
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    color: white;
}

a.button-info:hover {
    background-color: #669ec0;
    color: white;
}

a.button-info:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

a.button-buy {
    width: 142px;
    height: 27px;
    background-color: #766357;
    color: white;
}

a.button-buy:hover {
    background-color: #604e43;
    color: white;
}

a.button-buy:focus {
    background-color: #503e33;
    color: rgba (255, 255, 255, 0.3)
}

/* сетки */
.main-header {
    padding: 0;
    margin: 0;
}

.main-navigation {
    width: 1200px;
    display: flex;
    flex-direction: row;
    height: 56px;
}

.site-navigation {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 1200px;
    margin: 0;
    padding: 0;
}

.features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.properties-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
